---
import { Skull } from "lucide-react";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404: Not Found ❯ ~/code.charliegleason.com">
  <div class="grid gap-y-4 relative font-mono">
    <h1 class="text-gray-400 dark:text-gray-500">
      ❯ cd ~/code.charliegleason.com
    </h1>
    <div class="text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-950 flex gap-3 max-w-4xl">
      <Skull size={20} className="shrink-0" />
      <h2>404: Not Found</h2>
    </div>
  </div>
</Layout>
