---
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
console.log("Posts found:", posts.length);
---

<html>
  <head><title>Test</title></head>
  <body>
    <h1>Test Page</h1>
    <p>Found {posts.length} posts</p>
    <ul>
      {posts.map((post) => (
        <li>{post.data.title} - {post.data.slug}</li>
      ))}
    </ul>
  </body>
</html>
